* {
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.teclas button {
    background-color: blue;
    color: white;
}

.suma button {
    width: 100%;
    font-size: 100%;
    padding: 47%;
    background-color: skyblue;
    color: white;
}

.resta button {
    width: 100%;
    font-size: 100%;
    padding: 47%;
    background-color: skyblue;
    color: white;
}

.multi button {
    width: 100%;
    font-size: 100%;
    padding: 47%;
    background-color: skyblue;
    color: white;
}

.divi button {
    width: 100%;
    font-size: 100%;
    padding: 47%;
    background-color: skyblue;
    color: white;
}

.calculadora {
    background-color: #e2e2e2;
    width: fit-content;
    margin: auto;
}

.generarcod {
    padding: 0px 18px 18px 18px;
}

.generarcod button {
    width: 20%;
    position: relative;
    top: 50%;
    left: 40%;
    background-color: orange;
    color: white;
    border: none;
    font-size: 27px;
    padding: 0px
}

#resultado {
    background-color: #666;
    color: #eee;
    padding: 6px;
    font-family: monospace;
    font-size: 30px
}

.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    margin: 0px 0px;
    padding: 30px 24px;
    font-size: 19px;
}